footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $noir;
    padding: 20px 100px;

    a{
        color: $blanc;
        font-family: $fontText;
        font-size: 18px;
        font-weight: 600;

        &:hover{
            color: $gris;
        }
    
    }


    .connect_admin{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
 
        .credits{       
            font-size: 13px;
            font-weight: 400;
        }
        
    }

    .revenir_haut a{
        text-transform: uppercase;
        font-family: $fontText; 
        color: $blanc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img{
            justify-content: center;
            align-self: center;
            width: 25px;
            margin: 10px;
        }
    }

    .liens{
        display: flex;
        width: 30%;
        justify-content: space-between;
    }


}


