#navigation{
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 999;

    .langues {
        cursor: pointer;
        border: none;
        font-family: $fontText;
        text-transform: uppercase;
        color: $noir;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;

        option, .allez{
        font-family: $fontText;
        text-transform: uppercase;
        color: $noir;
        text-decoration: none;
        font-weight: 600;
        }


    }

    span, a {
    font-family: $fontText;
    text-transform: uppercase;
    color: $noir;
    text-decoration: none;
    font-weight: 600;
    transition: ease .3s;
        
        &:hover{
            color: $gris;
            transition: ease .3s;
        }
    }
    
    a:hover {
        color: $gris;
    }


    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30rem;

        .langues{
            display: flex;
            margin-left: 10px;
            align-items: center;

            img{
                width: 1rem;
                margin-left: 5px;

                &:hover{
                    transform: rotate(180deg);
                    transition:round($number: 0);
                    transition-duration: 0.5s;
                }
            }
        }

        // .langues{

        //     ::after{
        //         font-family: "Font Awesome 5 Brands";
        //         content: '/f107';
        //     }
        // }
        
        
    }

    .connect{
        display: flex;
        justify-content: space-between;
        width: 21%;
        align-items: center;

        .btn_inscription{
            background-color: $rouge;
            padding: 10px;
            transition: ease .3s;
            border-radius: 3px;
            color: #f6f6f6;

            &:hover{
                background-color: $blanc;
                color: $noir;
                transition: ease .3s;
                color: $noir; 
            }
             
        }
    }

    a {
        img{
        width: 80px;
        transition: .3s;
        }
    }

    

}
/***** STICKY NAVBAR *****/

.sticky {
    position: fixed;
    top: 0;
    padding: 0px 50px;
    width: calc(100% - calc(100px * 2));
    background-color: #fff !important;
    transition: ease .3s;

    a {
        img {
            width: 60px !important;
            transition: ease .3s;
        }
    }
  }
  
.sticky + .body {
    padding-top: 60px;
  }

