
#main_body {
    margin: $marginDesktop;
    font-family: $fontText;

    h4 {

        font-family: $fontTitre;
        color: $gris;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 400;
    }

    .articles {
        font-size: 14px;
        display:flex;
        margin: $marginDesktop 0 $marginDesktop $marginDesktop;
        display:flex;
        overflow-x: auto;
        padding-bottom: 20px;

        a.article_recent {
            min-width: 250px;
            height: 300px;
            color: #fff;    
            background-color: $noir;
            border-radius: 15px;
            margin-right: $marginMobile;
            position:relative;
            overflow:hidden;
            display:flex;
            flex-direction: column;
            justify-content: space-between;

            .article_illustration {
                position:absolute;
                top:0;
                bottom: 0;
                right: 0;
                left:0;
                transform: scale(1);
                z-index: 1;
                background-position: center;
                background-size: cover;
                opacity: .6;
                transition: ease .4s;
            }

            &:hover .article_illustration{
                transform: scale(1.2);
                transition: ease .4s;
            }
            
            .article_recent_top {
                margin: 20px;
                z-index: 2;
                position:relative;

                h5 {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: $marginMobile;
                }
                p {
                    font-size: 14px;
                }
            }
            .article_recent_bot {
                margin: 20px;
                display:flex;
                align-items:center;
                justify-content: space-between;
                z-index: 2;
                position:relative;

                .article_like {
                    height: 30px;
                    width: 30px;
                    background: $blanc;
                    border-radius: 100%;
                    color: $gris;
                    display: flex;
                    align-items:center;
                    justify-content:center;
                }
                .article_btn {
                    background: $rouge;
                    padding: 10px 20px;
                    border-radius: 20px;
                }
            }
        }
        

    }
    .redirection {
        margin: $marginDesktop 0;
        display:flex;
        justify-content: space-between;
        
        a.outSite {
            width: calc(50% - $marginMobile);
            height: 200px;
            color: #fff;    
            background-color: $noir;
            border-radius: 15px;
            position:relative;
            overflow:hidden;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            text-align: right;

            .event_illustration {
                position:absolute;
                top:0;
                bottom: 0;
                right: 0;
                left:0;
                transform: scale(1);
                z-index: 1;
                background-position: center;
                background-size: cover;
                opacity: .6;
                transition: ease .4s;
            }

            &:hover .event_illustration{
                transform: scale(1.2);
                transition: ease .4s;
            }

            h5 {
                z-index: 2;
                font-size: 25px;
                font-weight: 600;
                margin: $marginMobile $marginMobile 0;
                text-transform: uppercase;
            }
            p {
                z-index: 2;
                font-size: 14px;
                margin: 20px $marginMobile $marginMobile;
                width: 70%;
                font-weight: 400;
            }
        }
    }
    .associations {
        display:flex;
        align-items:center;
        justify-content: space-between;
        margin: $marginDesktop 0;
        

        a.association_lien {
            display:flex;
            align-items:flex-start;
            justify-content: space-between;
            flex-direction:column;
            overflow:hidden;
            max-width: 240px;
            min-width: 240px;
            height: 200px;
            position:relative;
            background-color: $rouge;
            border-radius: 15px;
            color: #f6f6f6;

            .asso_logo {
                position:absolute;
                top:0;
                bottom: 0;
                right: 0;
                left:0;
                transform: scale(1);
                z-index: 1;
                background-position: center;
                background-size: cover;
                opacity: .6;
                transition: ease .4s;
            }

            &:hover .asso_logo {
                transform: scale(1.2);
                transition: ease .4s;
            }

            h6 {
                font-size: 20px;
                z-index: 2;
                color: #f6f6f6;
                margin: 20px;
                text-transform: uppercase;
                text-shadow: 1px 1px 5px #777;
            }
            p {
                z-index: 2;
                font-size: 16px;
                margin: 20px;
            }
        }
    }
}

