#main_inscription {
    background-color: $noir;
    padding: calc($marginDesktop + $marginMobile) $marginDesktop $marginDesktop;

    h3 {
        font-family: $fontTitre;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $rouge;
        font-weight: 400;
        margin: 0 $marginDesktop $marginDesktop;
        width: calc(100% - calc($marginDesktop * 2));
        
        &::before, &::after {
            content:"";
            flex:1;
            height: 2px;
            background: $blanc;

        }
        span {
            margin: 0 20px;
        }
    }


    .form_inscription{
        font-family: $fontText;
        color: $blanc;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
            h2{
                padding: 50px;
            }
    
            .champs_inscription{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 40%;
            
                label{
                    align-self: flex-start;
                }
                
                input{
                    padding: 15px;
                    width: 100%;
                    border-radius: 11px;
                    border: none;
                    margin-top: 15px;
                }
            
                fieldset{
                    display: flex;
                    align-items: center;
                    border: none;
                    width: 100%;
                    margin-bottom: $marginMobile;
                    
                    input{
                        margin-top: 0;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
    
            .btn_inscription_connexion {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
        
                button, a {
                font-family: $fontText;
                font-weight: bold;
                outline: none;
                border: none;
                font-size: 20px;
                padding: 10px 0;
                width: 10vw;
                margin-top: 20px;
                border-radius: 15px;
                cursor: pointer;
                transition: ease .3s;
                display: flex;
                justify-content: center;
                }
                
                
                button{
                    background-color: $rouge;
                    color: $blanc;
                    
                    &:hover{
                        background-color: $blanc;
                        color: $noir;
                    }
                }
        
                a{
                    background-color: $noir;
                    color: white;
        
                    &:hover{
                        background-color: white;
                        color: $noir;
                    }
            }
                
                    
        }
    }
    
}
    