



.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    margin-bottom: 100px;

        .search_butt{
            
            &:hover  .bar_search{   
                color:  $gris;
                border: 1px solid $gris;

            }

            .bar_search{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 50px;
                height: 45px;
                width: 440px;
                border: 1px solid $rouge;
                border-radius: 50px;
                position: relative;
                color: $rouge;
                font-size: 18px ; 
                font-family: $fontText;


            img.svg_search{
                width: 18px;
                position: absolute;
                color: $rouge;
                top: 13px;
                left: 21px;
            }
            }
    }

}

.tri_article{

    margin: 50px 100px 100px 100px;
    display: flex;
    justify-content: space-between;


    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &:first-child {
          align-items: flex-start;
        }

        label{
            color: $rouge;
            font-size: 18px;
            font-family: $fontText;
        }
        .theme_select_container {
            position: relative;
            display: flex;

                &:after {
                    display: block;
                    position: absolute;
                    content: "";
                    background-image: url(./assets/down.jpg);
                    width: 15px;
                    height: 15px;
                    top: 43%;
                    right: 9px;
                    background-size: contain;
                    background-repeat: no-repeat;
           }

        select{
            position: relative;
            display: inline-flex;
            color: #929292 ;
            // overflow: hidden;
            appearance: none;
            width: 320px; 
            height: auto;
            border: 2px $gris solid; 
            margin: 0;
            padding: .75em;
            border-radius: 50px;
        	margin-top: 0px;
            font-family: $fontText;
            align-items: center;
            cursor: pointer;
          

            
            

            }
         
     
        }
    }
 }




  .articles {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        font-size: 14px;
        font-family: $fontText;
        margin: $marginDesktop;
        justify-content: space-between;
        

        a.article_recent {
            min-width: 280px;
            max-width: 300px;
            height: 300px;
            color: #fff;    
            background-color: $noir;
            border-radius: 15px;
            position:relative;
            overflow:hidden;
            display:flex;
            flex-direction: column;
            margin-bottom: 50px;
            margin: 0 0 $marginDesktop;
            

            .article_illustration {
                position:absolute;
                top:0;
                bottom: 0;
                right: 0;
                left:0;
                transform: scale(1);
                z-index: 1;
                background-position: center;
                background-size: cover;
                opacity: .6;
                transition: ease .4s;
            }

            &:hover .article_illustration{
                transform: scale(1.2);
                transition: ease .4s;
            }
            
            .article_recent_top {
                margin: 20px;
                z-index: 2;
                position:relative;
                flex-direction: column;
                flex: 1;
                overflow: hidden;
                display: flex;

                h5 {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-family: $fontText;
                    font-weight: 600;
                }
                p {
                    font-size: 14px;
                    flex: 1;
                    overflow: hidden;
                    margin-top: 20px;


                    &::-webkit-scrollbar{
                        width: 5px;
                    } 
                    &::-webkit-scrollbar-track{
                        background: $blanc;
                        border: 2px solid transparent;
                    } 
                    &::-webkit-scrollbar-thumb{
                        background: $gris;
                        border-radius: 50px;
                    }
                }   
            }
            .article_recent_bot {
                margin: 20px;
                display:flex;
                align-items:center;
                justify-content: space-between;
                z-index: 2;
                position:relative;

                .article_like {
                    height: 30px;
                    width: 30px;
                    background: $blanc;
                    border-radius: 100%;
                    color: $gris;
                    display: flex;
                    align-items:center;
                    justify-content:center;
                }
                .article_btn {
                    background: $rouge;
                    padding: 10px 20px;
                    border-radius: 20px;
                }
            }
        }
        

    }

