
.event_butt{
    text-decoration:none; 
    color: $rouge;
    ::after
        width: 120px;
        height: 60px;
        color: ;

}

.date_butt{
    text-decoration:none; 
    color: $rouge;

}

.h6{
    font-family: $fontTitre;
    color: $rouge;

}


.tri_article{
    margin: $marginDesktop;
    display: flex;
    justify-content: space-between

}
