#main_administration {
    display:flex;
    font-family: $fontText;

    .admin_liens {
        background: $noir;
        width: 20%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position:sticky;
        top:0;
        left:0;

        a {
            color: $blanc;
        }
        .accueil {
            font-family: $fontTitre;
            margin: 20px;
            font-size: 20px;
            text-align: center;
        }

        span {
            font-size: 18px;
            color: $blanc;
            text-transform: uppercase;
            font-weight: bold;
            display:block;
        }
        ul {
            margin: 20px 0;
            width: calc(100% - 40px);
            li {
                margin-left: 40px;
                a {
                    color: $blanc;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .admin_body {
        text-align: center;
        flex:1; 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;

        a {
            color: $rouge;
        }

        h1 {
            color: $rouge;
            font-family: $fontTitre;
            font-weight: normal;
            font-size: 40px;
            margin-bottom: 40px;
        }
        h2 {
            font-weight: bold;
            font-size: 30px;
            margin: 0 0 40px;
            text-align: left;
            width: 100%;
        }
        h4 {
            font-family: $fontTitre;
            color: $rouge;
            font-weight: normal;
        }
    }
    .admin_accueil {
        height: 100vh;

        h1 {
            font-weight: bold;
            font-size: 60px;
        }
        h2 {
            color: $rouge;
            font-family: $fontTitre;
            font-weight: normal;
            font-size: 40px;
        }
    }
}
i{
    font-style: normal;
}
.footer_admin{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    z-index: 20;
}