/*-------VARIABLES--------*/


/*Couleurs*/
$noir : #2E1A1E;
$rouge: #D75A41;
$blanc: #DED6D1;
$gris: #8B8B8B;

/*Marges*/
100px : 100px;
50px : 50px;

/*Font Family*/
$fontTitre : 'ltc-broadway', sans-serif;
$fontText : 'century-gothic', sans-serif;

/*---------GENERALE--------*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}