
#main_article {
    margin: 100px;
    font-family: $fontText;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a.retour {
        color: $rouge;
        border: 1px solid $rouge;
        padding: 5px 10px;
        border-radius: 20px;
        position:relative;
        width: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: ease .3s;

        div {
            background: $rouge;
            height: 500px;
            width: 500px;
            position:absolute;
            bottom: -20px;
            z-index: 1;
            transform: translateX(-100%) rotate(45deg);
            transition: ease .5s;
        }

        span {
            position:relative;
            z-index:2;
            display: flex;
            align-items: center;

            i {
                font-size: 10px;
                margin-right: 5px;
            }
        }

        &:hover {
            div {
                transform: translateX(0%) rotate(45deg);
                transition: ease .5s;
            }
            span {
                color: #f6f6f6;
                transition: ease .3s;
                transition-delay: .4s;
            }
        }
    }

    .header_article {

        color: $gris;
        margin: 100px;
        width: calc(100% - calc(100px * 2));

        h3 {
            font-family: $fontTitre;
            font-size: 50px;
            font-weight: 400;
            display: flex;
            flex-direction:column;
            
            &::after {
                content: "";
                width: calc(50% + calc(100px * 2));
                background: $rouge;
                height: 2px;
                margin: 50px 0;
                transform: translateX(- calc(100px * 2));
            }
        }
    
        h4 {
            font-size: 16px;
            margin-left: 50%;
            font-weight: normal;
        }
    }
    .infos_article {
        display:flex;
        color: $gris;

        span, a {
            margin-right: 10px;
        }

        .art_info {
            border: 1px solid $gris;
            border-radius: 20px;
            padding: 0 10px;
            font-size: 12px;
            height: 30px;
            display:flex;
            align-items: center;
            justify-content: flex-start;
        }
        a.art_btn {
            border: 1px solid $gris;
            color: $gris;
            border-radius: 100%;
            display:flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30Px;
            overflow: hidden;
            transition: ease .3s;
            position: relative;
            cursor: pointer;

            span {
                opacity:0;
                transition: ease .3s;
                transform: scaleX(0);
            }
            i {
                position:absolute;
                transition: ease .3s;
            }
            &:hover {
                width: 120px;
                max-width: auto;
                border-radius: 20px;
                transition: ease .3s;

                span {
                    opacity:1;
                    transition: ease .3s;
                    margin-left: 10px;
                    transform: scaleX(1);
                }
                i {
                    position:relative;
                    transition: ease .3s;
                }
            }
        }
        a.art_btn.partage:hover {
            color: $noir;
            transition: ease .3s;
        }
        a.art_btn.like:hover {
            color: $rouge;
            transition: ease .3s;
        }
        a.art_btn.liked {
            color: $rouge;
            transition: ease .3s;
        }

    }

    .content_article {
        display:flex;
        margin: 100px 0;
        position:relative;

        .image_article {
            width: 45%;
            display: flex;
            flex-direction: column;
            margin-right: 50px;

            div {
                position:sticky;
                height: calc(100vh - calc(50px * 3));
                background-color: #2E1A1E;
                top: calc(50px * 2);
                border-radius:15px; 
                background-size: cover;
                background-position:center;
            }
        }
        .body_article {
            flex:1;
            font-size: 14px;
            line-height: 20px;

            h4 {
                color: $gris;
                font-size: 20px;
                margin: 20px 0 20px 0;
                text-transform: uppercase;

                &::first-letter {
                    color: $rouge;
                    font-size: 24px;
                }
            }
            .art_accroche {
                border-bottom: 1px solid $gris;
                padding-bottom: 50px;
                margin-bottom: 50px ;
                font-style: italic;
                text-align: right;
                color: #555;
            }

        }
    }
    .article_auteurs {
        display:flex;
        align-items:center;
        width: 100%;
        
        &::before, &::after {
            flex: 1;
            background: $rouge;
            height: 2px;
            content:"";
        }

        span {
            color: $gris;
            text-align: center;
            margin: 0 50px;

            b {
                display:block;

            }
        }
    }

    .article_more {
        display:flex;
        margin-top: 100px;
        height: 400px;
        width: 100%;

        .article_autres {
            min-width: 45%;
            margin-right: 50px;
            
            .article_preview {
                flex:1;
                width: 100%;
                height: 120px;
                color: #fff;
                background-color: #2E1A1E;
                border-radius: 15px;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                &:nth-child(2) {
                    margin: 20px 0;
                }

                .preview_illustration {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    transform: scale(1);
                    z-index: 1;
                    background-position: center;
                    background-size: cover;
                    opacity: 0.6;
                    transition: ease 0.4s;
                }

                &:hover .preview_illustration {
                    transform: scale(1.2);
                    transition: ease 0.4s;
                }

                h5 {
                    z-index: 2;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 20px 20px 0;
                    
                }
                p {
                    z-index: 2;
                    font-size: 12px;
                    width: 70%;
                    font-weight: 400;
                    margin: 20px;
                }
            }
        }
        
        .article_coms {
            flex:1;
            overflow:auto;
            width: 40%;
            
            &::-webkit-scrollbar{
                width: 5px;
            } 
            &::-webkit-scrollbar-track{
                background: $gris;
                border: 2px solid #fff;
            } 
            &::-webkit-scrollbar-thumb{
                background: $gris;
                border-radius: 5px;
            }

            .commentaire {
                display:flex;
                border-top: 1px solid $gris;
                color: $gris;
                margin: 0 50px 50px;
                padding-top: 50px;
                align-items: flex-start;
                line-height: 18px;

                &:first-child {
                    border: none;
                    padding: 0;
                }

                .com_membre {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    position:relative;

                    img {
                        height: 80px;
                        width: 80px;
                        border-radius: 100%;
                    }
                    .btn_like_com {
                        background: #fff;
                        height: 30px;
                        width: 30px;
                        position:absolute;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        &:hover {
                            color: $rouge;
                        }
                    }
                }
                .com_cont {
                    margin-left: 20px;
                    font-size: 12px;

                    span {
                        font-size: 14px;

                        b {
                            display:block;
                            color: $noir;
                            font-size: 18px;
                        }
                    }
                    p {
                        margin-top: 10px;
                    }
                    &.no_com {
                        margin: 0;
                        font-size: 16px;
                        font-style: italic;
                        text-align: center;
                        width: 100%;
                    }
                }
                &.reponse {
                    margin-left: 100px;

                    p {
                        b {
                            font-style: italic;
    
                            i {
                                transform: rotate(180deg);                            color: $rouge;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .add_commentaire {
        display:flex;
        width: 100%;
        justify-content:flex-end;
        margin-top: 50px;
        a {
            flex: 1;
        }
        button, a {
            font-family: $fontText;
            color: $rouge;
            background: #fff;
            border: 1px solid $rouge;
            padding: 10px;
            border-radius: 5px;
            position:relative;
            display:flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: ease .3s;
            cursor: pointer;
            font-size: 14px;

            div {
                background: $rouge;
                height: 1500px;
                width: 1500px;
                position:absolute;
                bottom: -20px;
                z-index: 1;
                transform: translateX(-100%) rotate(45deg);
                transition: ease .6s;
            }

            span {
                position:relative;
                z-index:2;
            }

            &:hover {
                div {
                    transform: translateX(0%) rotate(45deg);
                    transition: ease .6s;
                }
                span {
                    color: #f6f6f6;
                    transition: ease .3s;
                    transition-delay: .4s;
                }
            }
        }
        button {
            flex:1;
            margin-left: 100px;
            background-color: $rouge;
            color: #f6f6f6;

            div {
                background:$noir;
            }
            &:hover {
                border: 1px solid $noir;
                transition: ease .3s;
                transition-delay: .2s;
            }
        }
        .modal {
            display: none; 
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            right:0; 
            height: 100vh; 
            overflow: auto; 
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            z-index: 1000;
            align-items:center;
            justify-content:center;

            .modal-content {
                background-color: #fff;
                padding: 20px;
                border: 1px solid #888;
                height: 70vh;
                border-radius: 15px;
                border: 20px solid #fff;
                position:relative;
                display:flex;
                flex-direction: column;
                font-size: 14px;

                .close_modal {
                    color: #F6F6F6;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                    cursor: pointer;
                    background: $rouge;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 15px;
                    width: 30px;
                    height: 30px;
                    transition: ease .3s;
                    position: absolute;
                    top: -5px; 
                    left: -5px;

                    &:hover, &:focus {
                      background: $noir;
                      text-decoration: none;
                      transition: ease .3s;
                    }
                }
                h5 {
                    font-family: $fontTitre;
                    font-size: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $gris;
                    font-weight: 400;
                    width: 100%;

                    &::before, &::after {
                        content:"";
                        flex:1;
                        height: 2px;
                        background: $rouge;

                    }
                    span {
                        margin: 0 20px;
                    }
                }
                form {
                    flex:1;

                    select {
                        border: 1px solid $gris;
                        border-radius: 10px;
                        padding: 5px;
                        color: $noir;
                    }

                    fieldset {
                        height: 100%;
                        border: 0;
                        display:flex;
                        flex-direction: column;

                        .control-group {
                            margin-bottom: 20px;
                        }

                        .control-group.textCom {
                            flex:1;
                            display:flex;
                            flex-direction: column;

                            label {
                                margin-bottom: 10px;
                            }
        
                            .controls {
                                flex:1;
                                max-height: 150px;

                                textarea {
                                    border: 1px solid $gris;
                                    border-radius: 20px;
                                    max-height: 100%;
                                }
                            }
                        }
                        .add_com_controls {
                            display:flex;
                            align-items:center;
                            justify-content:center;

                            input {
                                background-color: $blanc;
                                font-family: $fontText;
                                font-size: 20px;
                                font-weight: bold;
                                color: $noir;
                                padding: 10px;
                                outline: none;
                                border: none;
                                border-radius: 15px;
                                width: 10rem;
                                align-self: flex-end;
                                cursor: pointer;
                                transition: ease 0.3s;
                                font-size: 16px;

                                &:hover {
                                    background-color: $noir;
                                    transition: ease 0.3s;
                                    color: $blanc;
                                }
                            }
                            input.btn_valid_com {
                                background-color: $rouge;
                                color: #f6f6f6;

                                &:hover {
                                    background-color: $noir;
                                    transition: ease 0.3s;
                                }

                            }
                        }
                    }
                }
            }
        }
    }


}

