<<<<<<< HEAD
/* Error: Undefined variable.
 *    ,
 * 26 |     background-color: $blanc;
 *    |                       ^^^^^^
 *    '
 *   front\sass\variables.scss 26:23  @import
 *   front\sass\main.scss 1:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 26 \2502      background-color: $blanc;\d\a    \2502                        ^^^^^^\a    \2575 \a   front\\sass\\variables.scss 26:23  @import\a   front\\sass\\main.scss 1:9         root stylesheet";
}
=======
>>>>>>> f54974244435741cb612e7b31aa0891bd04e0b49
