/*-------VARIABLES--------*/
/*Couleurs*/
/*Marges*/
/*Font Family*/
/*---------GENERALE--------*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  margin: 0% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header p, header a {
  font-family: century-gothic, sans-serif;
  text-transform: uppercase;
  color: #2E1A1E;
  font-weight: 600;
}
header a:hover {
  color: #8B8B8B;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}
header nav .langues {
  display: flex;
  margin-left: 10px;
  align-items: center;
}
header nav .langues img {
  width: 1rem;
  margin-left: 5px;
}
header nav .langues img:hover {
  transform: rotate(180deg);
  transition: 0;
  transition-duration: 0.5s;
}
header .connect {
  display: flex;
  justify-content: space-between;
  width: 21%;
  align-items: center;
}
header .connect .btn_inscription p {
  color: #DED6D1;
}
header .connect .btn_inscription p:hover {
  color: #2E1A1E;
}
header .connect .btn_inscription {
  background-color: #D75A41;
  padding: 10px;
  margin-left: 15px;
}
header .connect .btn_inscription:hover {
  background-color: #DED6D1;
}
header img {
  width: 80px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2E1A1E;
  padding: 20px 100px;
}
footer a, footer p {
  color: #DED6D1;
  font-family: century-gothic, sans-serif;
  font-size: 18px;
  font-weight: 600;
}
footer a:hover, footer p:hover {
  color: #8B8B8B;
}
footer .connect_admin {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
footer .connect_admin .credits {
  font-size: 13px;
  font-weight: 400;
}
footer .revenir_haut a {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .revenir_haut a img {
  justify-content: center;
  align-self: center;
  width: 25px;
  margin: 10px;
}
footer .liens {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

#main_body {
  margin: 100px;
  font-family: century-gothic, sans-serif;
}
#main_body h4 {
  font-family: "ltc-broadway", sans-serif;
  color: #8B8B8B;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
}
#main_body .articles {
  font-size: 14px;
  display: flex;
  margin: 100px 0 100px 100px;
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}
#main_body .articles a.article_recent {
  min-width: 250px;
  height: 300px;
  color: #fff;
  background-color: #2E1A1E;
  border-radius: 15px;
  margin-right: 50px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main_body .articles a.article_recent .article_illustration {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(1);
  z-index: 1;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  transition: ease 0.4s;
}
#main_body .articles a.article_recent:hover .article_illustration {
  transform: scale(1.2);
  transition: ease 0.4s;
}
#main_body .articles a.article_recent .article_recent_top {
  margin: 20px;
  z-index: 2;
  position: relative;
}
#main_body .articles a.article_recent .article_recent_top h5 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
}
#main_body .articles a.article_recent .article_recent_top p {
  font-size: 14px;
}
#main_body .articles a.article_recent .article_recent_bot {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
#main_body .articles a.article_recent .article_recent_bot .article_like {
  height: 30px;
  width: 30px;
  background: #DED6D1;
  border-radius: 100%;
  color: #8B8B8B;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main_body .articles a.article_recent .article_recent_bot .article_btn {
  background: #D75A41;
  padding: 10px 20px;
  border-radius: 20px;
}
#main_body .redirection {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
#main_body .redirection a.outSite {
  width: calc(50% - 50px);
  height: 200px;
  color: #fff;
  background-color: #2E1A1E;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
}
#main_body .redirection a.outSite .event_illustration {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(1);
  z-index: 1;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  transition: ease 0.4s;
}
#main_body .redirection a.outSite:hover .event_illustration {
  transform: scale(1.2);
  transition: ease 0.4s;
}
#main_body .redirection a.outSite h5 {
  z-index: 2;
  font-size: 25px;
  font-weight: 600;
  margin: 50px 50px 0;
  text-transform: uppercase;
}
#main_body .redirection a.outSite p {
  z-index: 2;
  font-size: 14px;
  margin: 20px 50px 50px;
  width: 70%;
  font-weight: 400;
}
#main_body .associations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
}
#main_body .associations a.association_lien {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  max-width: 240px;
  min-width: 240px;
  height: 200px;
  position: relative;
  background-color: #D75A41;
  border-radius: 15px;
  color: #f6f6f6;
}
#main_body .associations a.association_lien .asso_logo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(1);
  z-index: 1;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  transition: ease 0.4s;
}
#main_body .associations a.association_lien:hover .asso_logo {
  transform: scale(1.2);
  transition: ease 0.4s;
}
#main_body .associations a.association_lien h6 {
  font-size: 20px;
  z-index: 2;
  color: #f6f6f6;
  margin: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #777;
}
#main_body .associations a.association_lien p {
  z-index: 2;
  font-size: 16px;
  margin: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.search .search_butt:hover .bar_search {
  color: #8B8B8B;
  border: 1px solid #8B8B8B;
}
.search .search_butt .bar_search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  height: 45px;
  width: 440px;
  border: 1px solid #D75A41;
  border-radius: 50px;
  position: relative;
  color: #D75A41;
  font-size: 18px;
  font-family: century-gothic, sans-serif;
}
.search .search_butt .bar_search img.svg_search {
  width: 18px;
  position: absolute;
  color: #D75A41;
  top: 13px;
  left: 21px;
}

.tri_article {
  margin: 30px 100px 100px 100px;
  display: flex;
  justify-content: space-between;
}
.tri_article div label {
  color: #D75A41;
  font-size: 18px;
  font-family: century-gothic, sans-serif;
}
.tri_article div .theme_select_container {
  position: relative;
}
.tri_article div .theme_select_container:after {
  display: block;
  position: absolute;
  content: "";
  background-image: url("../assets/down.jpg");
  width: 30px;
  height: 30px;
  top: 50%;
  right: 0px;
}
.tri_article div .theme_select_container select {
  position: relative;
  color: #D75A41;
  appearance: none;
  width: 110%;
  height: auto;
  border: 2px #D75A41 solid;
  margin: 0;
  padding: 0.75em;
  border-radius: 50px;
  margin-top: 10px;
  font-family: century-gothic, sans-serif;
  align-items: center;
  cursor: pointer;
}

.articles {
  font-size: 14px;
  display: flex;
  margin: 100px;
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}
.articles a.article_recent {
  min-width: 280px;
  height: 300px;
  color: #fff;
  background-color: #2E1A1E;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articles a.article_recent .article_illustration {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(1);
  z-index: 1;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  transition: ease 0.4s;
}
.articles a.article_recent:hover .article_illustration {
  transform: scale(1.2);
  transition: ease 0.4s;
}
.articles a.article_recent .article_recent_top {
  margin: 20px;
  z-index: 2;
  position: relative;
}
.articles a.article_recent .article_recent_top h5 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
}
.articles a.article_recent .article_recent_top p {
  font-size: 14px;
}
.articles a.article_recent .article_recent_bot {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.articles a.article_recent .article_recent_bot .article_like {
  height: 30px;
  width: 30px;
  background: #DED6D1;
  border-radius: 100%;
  color: #8B8B8B;
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles a.article_recent .article_recent_bot .article_btn {
  background: #D75A41;
  padding: 10px 20px;
  border-radius: 20px;
}

.form_connexion {
  background-color: #2E1A1E;
  font-family: century-gothic, sans-serif;
  color: #DED6D1;
  padding: 50px 0 200 0;
}
.form_connexion form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form_connexion form h2 {
  padding: 50px;
}
.form_connexion .champs_connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form_connexion .champs_connexion input {
  width: 35rem;
  height: 3.5rem;
  border-radius: 11px;
  border: none;
}
.form_connexion .champs_connexion label {
  align-self: flex-start;
}
.form_connexion button {
  background-color: #D75A41;
  font-family: century-gothic, sans-serif;
  font-weight: bold;
  color: #DED6D1;
  padding: 10px;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 15px;
  width: 8rem;
  align-self: flex-end;
}
.form_connexion button:hover {
  background-color: #DED6D1;
  color: #2E1A1E;
}

.form_inscription {
  background-color: #2E1A1E;
  font-family: century-gothic, sans-serif;
  color: #DED6D1;
  padding: 50px 0 200 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form_inscription h2 {
  padding: 50px;
}
.form_inscription .champs_inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form_inscription .champs_inscription input {
  width: 35rem;
  height: 3.5rem;
  border-radius: 11px;
  border: none;
}
.form_inscription .champs_inscription label {
  align-self: flex-start;
}
.form_inscription button {
  background-color: #D75A41;
  font-family: century-gothic, sans-serif;
  font-weight: bold;
  color: #DED6D1;
  padding: 10px;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 15px;
  width: 8rem;
  align-self: flex-end;
}
.form_inscription button:hover {
  background-color: #DED6D1;
  color: #2E1A1E;
}

/*# sourceMappingURL=style.css.map */
