*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

footer{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C2C2C;
}

